<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <h1>TODO List</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group w-100">
        <input
          id="taskDescription"
          type="text"
          name="description"
          placeholder="I have to..."
          class="form-control">
        <div class="input-group-append">
          <input
            type="button"
            value="Add"
            class="btn btn-primary"
            onclick="storeTask();">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="tasksList">
      {{#each tasks}}
      <div class="card my-3 {{#eq status 'done' }}bg-light{{/eq}} item-{{id}}">
        <div class="card-body">
          <p class="card-text">{{ description }}
            <a onclick="deleteTask({{id}});"><img src="assets/icons8-delete-bin-48.png" style="float: right;"/></a>
          </p>
          {{#eq status 'pending'}}
              <a href="javascript:;" onclick="doneTask({{id}});" class="card-link done-{{id}}">Done</a>
          {{/eq}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>
